# 不需要提交的文件和目录
results/
毕业设计：视网膜图像分割/
.venv/
.idea/
__pycache__/
.ipynb_checkpoints/
picture/
.obsidian/
medicai-retinal-vessel-segmentation-with-gradcam.ipynb

# 其他不需要提交的文件
*.pyc
*.pyo
*.pyd
*.swp
*.swo
*~

# 操作系统文件
Thumbs.db
.DS_Store

# 虚拟环境
venv/
env/

# IDE文件
.vscode/
.idea/

# 日志文件
*.log

# 临时文件
*.tmp
*.temp